@charset "utf-8";
/* CSS Document */

header{ width:100%; height: 60px; background-color:antiquewhite; border: 1px solid darkred;}
.banner{ width: 100%; min-height: 300px; background-color: rgba(123,88,71,1.00)}
.caption{ width: 40%; position: absolute; right: 35%; top: 35%; text-align: center ;}
.caption hl{ font-size: 40px; color: #346Ae5 }
.caption p{color:white}

.logo {heigh: 50px; width: 50px;}
.container img {height: 100%;width: 100%;}
.container img {object-fit: contain;}
.logo a{ text-decoration: none; font-size: 35px; font-weight: 600; color: yellow }
.logo a:hover{color:red}
.menu { padding-top: 18px; }
.menu ul { margin: 0; padding: 0; list-style: none;display: flex }
.menu ul li a { padding: 10px 20px; text-decoration: none; font-size: 17px; text-transform: capitalize; color: #535353; border-radius: 20px }
.menu ul li a:hover{ background-color: darkred;color: white }
main{ width: 100%; min-height: 500px; }
aside{ widows: 100%; min-height: 500px }
aside ul{ margin: 0; padding: 10px; list-style: none; display: flex; flex-direction: column}
aside ul li{ border-bottom: 1px solid gray }
aside ul li a{ padding: 10px; display: block; text-decoration: none; color: #666666}
aside ul li a:hover{ background-color: darkred; color: white }
.vl {border-left: thick solid darkred;}
.vien-dam{ width: 100%; min-height: 100px; border: 1px solid darkred; text-align: center; padding: 15px; border-radius: 10px; position: relative; overflow: hidden}
.icon{ width: 80%; height: 40px; position: absolute; left: 10%; top: -12%; display: flex; justify-content: space-around; transition: all 1s}
.icon a{height: 40px; width: 40px; background-color: darkred; color: white; border-radius: 50%; display:flex; justify-content: center; align-items: center; text-decoration: none}
.icon a:hover{background-color:white; color: darkred; border: 1px solid darkred}
.vien-dam:hover .icon{top: 45%}
.form-control {padding: 8px; margin-bottom: 10px; width: 100%}
.nut {padding: 10px 20px;background-color: darkgoldenrod; border-radius: 28px; cursor: pointer}
.nut-nhap {padding: 10px 20px; background-color: Darkred; color: white; border: green; border-radius: 28px; cursor: pointer}
.nut-nhap:hover {background-color: red }
.gach-chan{border-bottom: 2px solid darkred}
footer{ width:100%; height: 50px; clear: both; text-align: center; color: white; line-height: 50px; background-color:#666666 ; }
